@font-face {
  font-family: "ponur";
  src: url("../design/fonts/Fontspring-DEMO-billie-bold.otf") format("otf") font-weight normal;
  font-style: normal;
}
.main__event {
  margin-top: 1vw;
}
.main__event .main__event-baner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main__event .main__event-baner .main__event__baner-baner {
  align-items: center;
  display: flex;
}
.main__event .main__event-baner .main__event__baner-baner img {
  border-radius: 1vw;
  width: 78vw;
}
.main__event .main__event-baner .main__event__baner-render1 {
  position: absolute;
  width: 15vw;
  height: auto;
  top: -1vw;
}
.main__event .main__event-baner .main__event__baner-render1 img {
  width: 21vw;
  height: 14vw;
}
.main__event .main__event-baner .main__event__baner-logo {
  position: absolute;
  left: 50%;
  top: 5vw;
  transform: translate(-50%, -50%);
}
.main__event .main__event-baner .main__event__baner-logo img {
  width: 20vw;
  height: 4vw;
}
.main__event .main__event-baner .main__event__baner-render2 {
  position: absolute;
  right: 1vw;
  top: -1vw;
}
.main__event .main__event-baner .main__event__baner-render2 img {
  width: 21vw;
  height: 14vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-days {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 0.5vw;
  background-color: rgba(2, 2, 2, 0.527);
  left: 27vw;
  top: 8vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-days span {
  font-family: "ponur", sans-serif;
  font-weight: 600;
  position: relative;
  top: 0.3vw;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.3vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-days p {
  font-family: "ponur", sans-serif;
  color: #b4a8a8;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-hrs {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 0.5vw;
  background-color: rgba(2, 2, 2, 0.527);
  left: 30.5vw;
  top: 8vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-hrs span {
  font-weight: 600;
  font-family: "ponur", sans-serif;
  position: relative;
  top: 0.3vw;
  font-size: 1.3vw;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-hrs p {
  font-family: "ponur", sans-serif;
  color: #b4a8a8;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-min {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 0.5vw;
  background-color: rgba(2, 2, 2, 0.527);
  left: 34vw;
  top: 8vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-min span {
  font-weight: 600;
  font-family: "ponur", sans-serif;
  position: relative;
  top: 0.3vw;
  font-size: 1.3vw;
  color: white;
  justify-content: center;
  display: flex;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-min p {
  font-family: "ponur", sans-serif;
  color: #b4a8a8;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-sec {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 0.5vw;
  background-color: rgba(2, 2, 2, 0.527);
  left: 37.5vw;
  top: 8vw;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-sec span {
  font-weight: 600;
  font-family: "ponur", sans-serif;
  position: relative;
  top: 0.3vw;
  font-size: 1.3vw;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.main__event .main__event-baner .main__event__baner-countdown .main__event__baner__countdown-sec p {
  font-family: "ponur", sans-serif;
  color: #b4a8a8;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}
.main__event .main__event-baner .main__event__baner-button {
  width: 10vw;
  height: 2.8vw;
  position: absolute;
  margin-left: 1vw;
  border-radius: 0.5vw;
  background-color: #ff1434;
  left: 40.5vw;
  top: 8vw;
}
.main__event .main__event-baner .main__event__baner-button span {
  letter-spacing: 0.05vw;
  font-weight: 600;
  font-family: "ponur", sans-serif;
  color: #ffffff;
  top: 0.95vw;
  right: 0.6vw;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}
.main__event .main__event-baner .main__event__baner-button i {
  font-weight: 600;
  color: #ffffff;
  top: 0.05vw;
  left: 3.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1vw;
}

/*# sourceMappingURL=event.css.map */
