.boxesall{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 28vh;
            background-color: #1B1F2B;
            margin: 0;
}

.container {
    width: 80vw;
    height: 13.5vw;
    overflow: hidden;
    border: 0.13vw solid #000;
    position: relative;
}
.boxes-every {
    
    display: flex;
    position: absolute;
    left: 0;
    transition: left 7s cubic-bezier(0.33, 1, 0.68, 1);

    span{
        z-index: 11;
        color: rgb(255, 8, 0);
        position: absolute;
        
    }

    img{

        &:first-of-type{
            position: absolute;
            width: 300px;
            height: 300px;
            margin-top: -2vw;
        }

        &:last-of-type{
            
            position: absolute;
            z-index: 10;
          width: 10vw;
          height: 10vw;
          align-items: center;
          justify-content: center;
          margin-left: 2.5vw;

        }
    }


    .boxes-legendary{
       
        position: relative;

        
        
        
        

    }
    .boxes-epic{
       
        
    }
    .boxes-mythic{
       
        
    }
    .boxes-common{
       
        
    }
    .boxes-normal{
       
        
    }
}
.box {
 
    width: 300px;
            height: 300px;
    flex-shrink: 0;
}
#spinButton {
    margin-top: 2vw;
    padding: 0.3vw 2vw;
    margin-left: 30vw;
    margin-bottom: 2vw;
    font-size: 1.6vw;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.1vw; 
    background: linear-gradient(180deg, #1a1d2e, #10131f); 
    color: #fff; 
    border: 1px solid #17da11; 
    border-radius: 0.5vw; 
    text-transform: uppercase; 
    font-weight: bold;

  
    &:hover {
      background: linear-gradient(180deg, #10131f, #25ce57); 
      transform: scale(1); 
      box-shadow: 0 0 10px rgba(5, 190, 61, 0.6); 
    }
  
    &:active {
      transform: scale(0.95); 
    }
  
    &::before {
        content: '';
        display: inline-block;
        width: 3.5vw; 
        height: 3.6vw; 
        background: url('../design/photos/POMEO-WHITE-SMALL.png') no-repeat center center;
        background-size: contain; 
      }
  }
  