footer {
    background-color: #1b1f2b;
    color: #606d87;
    padding: 3vw 4vw;
    position: relative;
  
    .footer__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap; 
      position: relative;
      gap: 1vw;
  
      .footer__logo-container {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        max-width: 20vw;
        margin-left: 5vw;
  
        .footer__logo {
          height: 2.5vw;
          margin-left: -5vw;
          width: auto;
        }
  
        .footer__description {
          font-size: 0.9rem;
          line-height: 1.5;
          color: #d1d5db;
        }
  
        .footer__socials {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
  
          span {
            font-size: 0.9rem;
            color: #d1d5db;
          }
  
          .footer__social-icons {
            display: flex;
            gap: 1rem;
              i {
                font-size: 1.2rem;
                color: #fff;
              }
  
            
          }
        }
      }
  
      .footer__links {
        display: flex;
        gap: 3rem;
        position: relative;
  
        &-column {
          h4 {
            font-size: 1.2rem;
            color: #fff;
            margin-bottom: 1rem;
          }
  
          a {
            display: block;
            font-size: 0.9rem;
            color: #606d87;
            text-decoration: none;
            margin-bottom: 0.5rem;
            transition: color 0.3s ease;
  
            &:hover {
              color: #5b9fff;
            }
          }
        }
      }
  
      .footer__image {
        display: flex;
        justify-content: flex-end;
        margin-top: -2vw;
        margin-right: 2vw;
        img {
          max-height: 15vw; 
          width: auto; 
          object-fit: contain; 
        }
      }
    }
  }
  