
.header3 {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1e1e1e;
  height: auto; 
  display: flex;
  align-items: center;
  padding: 0 16px;
  
  .header3__line {
    width: clamp(0.05rem, 0.1vw, 0.1rem); // Adjust width using clamp
    height: clamp(2rem, 4vh, 2.5rem); // Adjust height using clamp
    
  }
  

  .header3__menu-logo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-right: 16px;
    position: relative;
    padding: 12px 0;

    & > *:not(:last-child) { /* Tylko elementy, które nie są ostatnim dzieckiem */
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -4px; 
        left: 0;
        right: 0;
        height: 1px; 
        background-color: #2e2e2e; 
      }
    }
  }


  &__menu {
    width: 2vw;
    height: 2vw;
   
    
    
  }

  &__logo {
    width: 24px;
    height: 24px;
    background-color: #3b4d61;
    
  }
}

.gallery {
  display: flex;
  justify-content: space-between; 
  gap: 2vw;
  padding: 1vw;

  &__item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 0.1vw;
    flex: 1 1 calc(10% - 2vw); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    aspect-ratio: 1; 

    &--empty {
      background-color: transparent;
      border: 0.1vw dashed #444;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 80%;
    margin-bottom: 1vw;
  }

  &__label {
    font-size: 12px;
    text-align: center;
    color: #ccc;
  }
}


@media (max-width: 700px) {
  .gallery__item:nth-child(n+5) { 
    display: none;
  }
}