@use '_variables';


.menu1{
    display: flex; 
    height: 3.5vw;
    position: relative;
    width: 100vw;
    background-color: variables.$blue_ponur;



    
}

.menu1__logo{
    display: flex; 
    margin-left: 0.8vw;
    

    align-items: center;
    img {
       
        height: 2vw;
        align-items: center;
        
        
    }
}

.menu1__currency{
    

    .menu1__currency-country{
        display: flex; 
        margin-left: 1vw;
        

        img{
            
            width: 1vw;
            height: 1vw;

        }


    }

}

